<%= f.field_container :description do %>
  <%= f.label :description, t("description")%><br />
  <%= f.text_field :description %>
<% end %>

<%= f.field_container :product_id do %>
  <%= f.label :product_id, t("product")%><br />
  <%= f.collection_select :product_id, Product.order(:name).all, :id, :name, :include_blank => true %>
<% end %>

<p id="start_date_field">
  <%= f.label :start_date %>
  <%= f.text_field :start_date, :class => 'datepicker' %>
</p>
<p id="end_date_field">
  <%= f.label :end_date %>
  <%= f.text_field :end_date, :class => 'datepicker' %>
</p>

<%= f.field_container :background do %>
  <%= f.label :background, t("background") %><br />
  <%= f.file_field :background %>
<% end %>

<%= f.field_container :background do %>
  <%= f.label :image, t("image") %><br />
  <%= f.file_field :image %>
<% end %>
