<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_promoted_item_link">
      <%= button_link_to t(:new_promoted_item), new_object_url, {:remote => true, :icon => 'add', :id => 'admin_new_promoted_item'} %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= "#{t('actions.listing')} #{t(:promoted_items)}" %></h1>

<div id="new_promoted_item" data-hook></div>

<table class="index sortable" id="listing_promoted_items">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("start_date") %></th>
      <th><%= t("end_date") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @promoted_items.each do |promoted_item|%>
    <tr id="<%= dom_id promoted_item %>">
      <td><span class="handle"></span> <%= promoted_item.name %></td>
      <td><%= promoted_item.start_date %></td>
      <td><%= promoted_item.end_date %></td>
      <td class="actions">
        <%= link_to_edit promoted_item, :class => 'edit'  %> &nbsp;
        <%= link_to_delete promoted_item  %>
      </td>
    </tr>
  <% end %>
  <% if @promoted_items.empty? %>
    <tr><td colspan="4"><%= t(:none) %></td></tr>
  <% end %>
  </tbody>
</table>
